#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.infinitive,
.pronoun {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
    text-transform: lowercase;
    color: black;
}

.infinitive {
    width: fit-content;
    margin: 0 auto 40px auto;
    text-decoration: underline;
}
.infinitive:hover {
    color: rgb(97, 97, 97);
}

.button {
    margin-top: 30px;
    background: rgb(238, 238, 238);
}
